*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(135, 144, 177);
    margin: 0;
    padding: 0;
    display: flex;
    
}

.instagram-wrapper {
    display: flex;
}

.instagram-phone .cel{
    position: relative;
    left: 100px;
   
}
.instagram-phone .cel2{
    position: relative;
    right: 150px;
    
}
.instagram-continue{
   position: relative;
   right: 140px;
   margin-top: 80px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 1.3rem 0;
    margin-top: 5px;
    
}
.instagram-logo {
    height: 3rem;
    margin-bottom: 10px;
}

input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid rgb(104, 132, 184);
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
input[type=submit] {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
.app{
      align-items: center;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: rgb(135, 144, 177);
   
  }
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.9rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: contain ;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}